{% extends 'base.html' %} {% block content %}

<h3 class="add">Add New Employee Data</h3>
<div class="col-md-6">

    <form method="POST" action="{% url 'addemp' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>Employee Name: </td>
                <td><input type="text" name="empname" id="" required></td>

            </tr>

            <tr>
                <td>Employee Contact: </td>
                <td><input type="text" name="empcontact" id="" required></td>

                <td>
                    {% if m %}
                    <span style="color:red;">{{m}}</span>
                    {% endif %}
                </td>

            </tr>
            <tr>
                <td>Department Email: </td>
                <td><input type="text" name="deptemail" id="" required></td>
                <td>
                    {% if e %}
                    <span style="color:red;">{{e}}</span>
                    {% endif %}
                </td>

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Employee" class="btn btn-warning">
                </td>
            </tr>
           
            
        </table>
    </form>
    
</div>

{% endblock content %}