.table{
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 2px;
    border-style: none;
    border-color: black;
    padding:10px;
    color:white;
    margin-top: 20px;
}
.btn btn-danger{
    width: 100px;
}
body{
background: url('../images/background1.jpg') no-repeat;
background-size: 100%;
color: white;
text-decoration-color: white;
height: 1000px;
padding: 100px 0 0 0;


}
li a:hover {
    background-color: #555;
    color: white;
  }
   

.add{
    color:red;
    margin-top: 30px;
}

